.technologies-wrap {
  padding-top: 3.125rem;
  padding-bottom: 3.5rem;

  @media screen and (max-width: 992px) {
    padding-bottom: 0;
  }
}

.technologies {
  &__title {
    margin-bottom: 2.81rem;
  }

  .technologies-list {
    &__item {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.875rem;

      @media screen and (min-width: 992px) {
        width: calc(100% / 5);
      }
      @media screen and (max-width: 576px) {
        max-width: 50%;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: calc(100% - 40px);
      margin-bottom: 0.625rem;
    }

    &__name {
      @include font('Montserrat-BlackItalic', 1.1rem);

      width: 100%;
      color: $color-blue-100;
      letter-spacing: 1px;
    }
  }
}
