-
    const technologiesListItems = [
    {
      name: 'javascript',
      img: '../../assets/images/technologies/js.png'
    }, {
      name: 'java',
      img: '../../assets/images/technologies/java.png'
    }, {
      name: 'python',
      img: '../../assets/images/technologies/python.png'
    }, {
      name: 'mobile',
      img: '../../assets/images/technologies/mobile.png'
    }, {
      name: 'devops',
      img: '../../assets/images/technologies/devops.png'
    }];

.technologies-wrap#technologies
    .container
        .technologies
            .content-title.technologies__title
                h1.text-uppercase.text-center technologies
            ul.technologies-list.list-unstyled.row
                each val in technologiesListItems
                    li.technologies-list__item.flex-fill.col.col-md-3.col-sm-4
                        .technologies-list__img
                            img.img-fluid(src= val.img)
                        .technologies-list__name.text-uppercase.text-center= val.name
