.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 600px;
  transform: translate(-100%, 0%);
  transition: transform 0.5s;
  z-index: 2;

  &.open {
    transform: translate(0, 0%);
    transition: transform 0.5s;
  }

  &__logo {
    height: 99px;
    background: $color-white;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 260px;
    }
  }

  &__list-wrap {
    height: calc(100% - 99px);
    background: $color-blue-100;
    padding-top: 2rem;
  }

  .menu-list {
    margin-bottom: 0;

    &__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        @include font('MrEavesModOT-HeavyItalic', 1.567rem);

        color: $color-white;
        width: 100%;
        padding: 0.675rem 0;
        position: relative;

        &::after {
          content: '';
          width: 0;
          height: 1px;
          position: absolute;
          right: 0;
          bottom: 0;
          background: $color-white;
          transition: all 0.3s;
        }

        &:hover {
          text-decoration: none;

          &::after {
            width: 100%;
            transition: all 0.3s;
          }
        }

        &.active {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.menu-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  display: none;

  &.open {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.fade-enter {
  animation: FadeIn 0.3s;
}

.fade-leave {
  animation: FadeOut 0.3s;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 576px) {
  .menu {
    width: 250px;
    height: auto;

    &__logo {
      height: 70px;
      padding: 0 10px;

      img {
        max-width: 100%;
      }
    }

    &__list-wrap {
      padding-top: 1.5rem;
      overflow-y: auto;
      max-height: calc(100vh - 70px);
    }

    &__item {
      padding-bottom: 1rem;
    }
  }
}
