-
    const menuItems = ['offres', 'solutions', 'technologies', 'clients', 'covaloris en détail',  'contact' ];
    const menuAnchors = ['adn', 'offres', 'technologies', 'clients', 'contact' ];

.menu#menu
    .menu__logo
        a(href='#header')
            img.img-fluid(src='../../assets/images/logo-color-horiz.png')
    .menu__list-wrap
        ul.menu-list.list-unstyled
            each val, index in menuAnchors
                li.menu-list__item
                    a.text-center.text-uppercase(href='#' + menuAnchors[index])= val

    include ../menu-btn/index
.menu-mask#menu-mask