.clients-wrap {
  background: $color-blue-100;
  padding-top: 3.125rem;
  padding-bottom: 2rem;
}

.clients {
  &__title {
    margin-bottom: 1.25rem;

    h1 {
      color: $color-white;
    }
  }

  .clients-list {
    @media screen and (min-width: 1200px) {
      padding: 0 3.75rem;
    }

    &__item {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 992px) {
        align-items: center;
      }
      @media screen and (max-width: 576px) {
        max-width: 50%;
      }
    }
  }
}
