-
    const clientsListLogos = [
    {img: '../../assets/images/clients/valeo.png'},
    {img: '../../assets/images/clients/pronoun.png'},
    {img: '../../assets/images/clients/visionare.png'},
    {img: '../../assets/images/clients/loadown.png'},
    {img: '../../assets/images/clients/rtv.png'},
    {img: '../../assets/images/clients/kimind.png'},
    {img: '../../assets/images/clients/dauphine.png'},
    {img: '../../assets/images/clients/macmillan.png'},
    {img: '../../assets/images/clients/ekylibre.png'},
    {img: '../../assets/images/clients/pyramid.png'},
    {img: '../../assets/images/clients/liasd.png'}
    ];

.clients-wrap#clients
    .container
        .clients
            .content-title.clients__title
                h1.text-uppercase.text-center ils nous font confiance
            ul.clients-list.list-unstyled.row
                each val in clientsListLogos
                    li.clients-list__item.col-lg-3.col-md-4.col-sm-6
                        img.img-fluid(src= val.img)