$color-white: #fff;
$color-black: #000;
$color-blue-900: #162737;
$color-blue-100: #67a4d4;
$color-grey-600: #3f413e;

@mixin font-face( $name, $dir, $path, $type) {
  @font-face {
    font-family: $name;
    src: url('../assets/fonts/' + $dir +'/' + $name + $path) format($type);
    font-style: normal;
    font-weight: normal;
  }
}

//@include font-face('Roboto-BoldItalic', 'Roboto', '.ttf','truetype');
//@include font-face('RobotoCondensed-Italic', 'Roboto', '.ttf','truetype');
//@include font-face('RobotoCondensed-LightItalic', 'Roboto', '.ttf','truetype');

//@include font-face('Roboto-LightItalic', 'Roboto', '.ttf','truetype');
//@include font-face('Roboto-MediumItalic', 'Roboto', '.ttf','truetype');
//@include font-face('Roboto-ThinItalic', 'Roboto', '.ttf','truetype');

@include font-face('Roboto-Regular', 'Roboto', '.ttf','truetype');
@include font-face('Roboto-BlackItalic', 'Roboto', '.ttf','truetype');
@include font-face('Roboto-Italic', 'Roboto', '.ttf','truetype');
@include font-face('Roboto-Black', 'Roboto', '.ttf','truetype');
@include font-face('Roboto-Thin', 'Roboto', '.ttf','truetype');

@include font-face('Montserrat-BlackItalic', 'Montserrat', '.ttf','truetype');
@include font-face('Montserrat-LightItalic', 'Montserrat', '.ttf','truetype');
@include font-face('Montserrat-Bold', 'Montserrat', '.ttf','truetype');
@include font-face('Montserrat-ExtraBoldItalic', 'Montserrat', '.ttf','truetype');
@include font-face('Montserrat-Regular', 'Montserrat', '.ttf','truetype');

@include font-face('MrEavesModOT-RegItalic', 'MrEavesModOT', '.ttf','truetype');
@include font-face('MrEavesModOT-HeavyItalic', 'MrEavesModOT', '.ttf','truetype');

@include font-face('Gotham-Narrow-Book', 'Gotham', '.ttf', 'truetype');

//@include font-face('Montserrat-Black', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-BoldItalic', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-ExtraBold', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-ExtraLight', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-ExtraLightItalic', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-Italic', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-Light', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-Medium', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-MediumItalic', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-SemiBold', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-SemiBoldItalic', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-Thin', 'Montserrat', '.ttf','truetype');
//@include font-face('Montserrat-ThinItalic', 'Montserrat', '.ttf','truetype');

@mixin font($family, $size) {
  font-family: $family, sans-serif;
  font-size: $size;
}

html, body {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
}

body {
  @include font('Roboto-Regular', 1rem);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  //max-width: 1200px;
  //margin: 0 auto;
}

.no-select * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;  /* Safari */
  -khtml-user-select: none;  /* Konqueror HTML */
  -moz-user-select: none;   /* Firefox */
  -ms-user-select: none;   /* Internet Explorer/Edge */
  user-select: none;      /* Non-prefixed version, currently supported by Chrome and Opera */
}

.content-title {
  h1 {
    @include font('Montserrat-LightItalic', 2.5rem);

    color: $color-blue-900;
    @media screen and (max-width: 768px) {
      font-size: 2.2rem;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to right, #f3f3f3 0%, #dcdcdc 100%);
}

::-webkit-scrollbar-thumb {
  background-color: $color-blue-900;
}
