
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}
/* stylelint-disable */
h1,.h1 {font-size: 36px;}
h2,.h2 {font-size: 30px;}
h3,.h3 {font-size: 24px;}
h4,.h4 {font-size: 18px;}
h5,.h5 {font-size: 14px;}
h6,.h6 {font-size: 12px;}
/* stylelint-enable */

$font-size-small:          12px;
$font-size-regular:        16px;
$font-size-medium:         18px;
$font-size-large:          22px;
$font-size-x-large:        32px;
$font-size-xx-large:       48px;
$font-size-xxx-large:      60px;

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-justify {
    text-align: justify;
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-lowercase {
    text-transform: lowercase;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}
