.btn {
  @include font('Robolo-Bold', 1rem);

  padding: 0 1.75rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-black;
  border: 1px solid $color-black;
  border-radius: 0;
  background: $color-white;
}

$status-colors: (
  white: $color-white,
  black: $color-black,
  blue-900: $color-blue-900,
  blue-100: $color-blue-100,
  transparent: transparent
);

@each $status, $color in $status-colors {
  .border {
    &-#{$status} {
      border-color: $color;
    }

    &-hover {
      &-#{$status}:hover {
        border-color: $color;
      }
    }
  }

  .color {
    &-#{$status} {
      color: $color;
    }

    &-hover {
      &-#{$status}:hover {
        color: $color;
      }
    }
  }

  .background {
    &-#{$status} {
      background: $color;
    }

    &-hover {
      &-#{$status}:hover {
        background: $color;
      }
    }
  }
}

.border {
  &-w0 {
    border-width: 0;
  }

  &-w1 {
    border-width: 1px;
  }

  &-w2 {
    border-width: 2px;
  }

  &-w3 {
    border-width: 3px;
  }

  &-w4 {
    border-width: 4px;
  }

  &-w5 {
    border-width: 5px;
  }
}

.text {
  &-underline {
    text-decoration: underline;
  }
}
