.contact-wrap#contact
    .container
        .contact
            .contact-inner
                .content-title.contact__title
                    h1.text-uppercase.text-center Contact
                .contact__sub-title
                    h6.text-uppercase.text-center.
                        vous êtes intéréssé par une de nos offres ou souhaitez obtenir une offre personnalisée selon vos besoins, ou tout simplement obtenir plus d’informations sur nos équipes.

                form.contact-form#contact-form
                    .contact-form__title
                        h6.text-center.text-uppercase merci de compléter le formulaire suivant :
                    .contact-form__field-group
                        .contact-form__input-wrap
                                input.contact-form__input(required autocomplete='off' type="text" name="name" id="name" placeholder="nom prénom*")
                        .contact-form__input-wrap
                                input.contact-form__input(required autocomplete='off' type="text" name="society" id="society" placeholder="société*")
                        .contact-form__input-wrap
                                input.contact-form__input(required autocomplete='off' type="text" name="function" id="function" placeholder="fonction*")
                        .contact-form__input-wrap
                                input.contact-form__input(required autocomplete='off' type="text" name="email" id="email*" placeholder="email*")
                        .contact-form__input-wrap
                                input.contact-form__input(autocomplete='off' type="text" name="phone" id="phone" placeholder="téléphone" )

                    .radio-group-wrap
                        .radio-group__title
                            h3.text-center.text-uppercase une offre en particulier vous interesse ?
                        .radio-group__sub-title
                            h6.text-uppercase sélectionnez l’offre éventuelle qui vous intèresse #[span.text-lowercase (plusieurs choix possibles) :]

                        .radio-group
                            input.radio-group__input.custom-control-input(type="radio" value="start" id="start" name='contactForm' checked)
                            label.radio-group__label.text-uppercase(for="start") start pack
                        .radio-group
                            input.radio-group__input.custom-control-input(type="radio" value="premium" id="premium" name='contactForm')
                            label.radio-group__label.text-uppercase(for="premium") premium pack
                        .radio-group
                            input.radio-group__input.custom-control-input(type="radio" value="staff" id="staff" name='contactForm')
                            label.radio-group__label.text-uppercase(for="staff") staff pack
                        .radio-group
                            input.radio-group__input.custom-control-input(type="radio" value="personalized" id="personalized" name='contactForm')
                            label.radio-group__label.text-uppercase(for="personalized") une offre personnalisée selon mes besoins
                        .radio-group
                            input.radio-group__input.custom-control-input(type="radio" value="suggest" id="suggest" name='contactForm')
                            label.radio-group__label.text-uppercase(for="suggest") je n’en sais rien pour le moment

                    button.contact-form__btn.btn.border-blue-100.background-blue-100.color-white.background-hover-transparent envoyer








