.contact-wrap {
  background: $color-blue-900 url('../../assets/images/contact-background.png') no-repeat center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact {
  &-inner {
    max-width: 600px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 1rem;

    h1 {
      color: $color-white;
    }
  }

  &__sub-title {
    margin-bottom: 1.1rem;

    h6 {
      @include font('Roboto-BlackItalic', 1rem);

      color: $color-white;
    }
  }

  .contact-form {
    &__title {
      margin-bottom: 2.4rem;

      h6 {
        @include font('Roboto-Italic', 1rem);

        color: $color-white;
      }
    }

    &__input {
      @include font('Roboto-Regular', 0.9rem);

      display: block;
      width: 100%;
      max-width: 600px;
      height: calc(1.85rem + 2px);
      padding: 0.375rem 0.35rem;
      line-height: 1.5;
      color: $color-white;
      background: transparent;
      border: 1px solid $color-grey-600;
      outline: none;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-white;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: $color-white;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: $color-white;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: $color-white;
        text-transform: uppercase;
        font-size: 0.9rem;
      }
    }

    &__field-group {
      margin-bottom: 1.187rem;
    }

    &__input-wrap {
      margin-bottom: 0.7rem;
    }

    .radio-group-wrap {
      margin-bottom: 1rem;
    }

    .radio-group {
      margin-bottom: 0.6rem;

      &__title {
        margin-bottom: 0.75rem;

        h3 {
          @include font('Gotham-Narrow-Book', 1.25rem);

          color: $color-white;
          letter-spacing: 0.4px;
        }
      }

      &__sub-title {
        h6 {
          @include font('Gotham-Narrow-Book', 0.875rem);

          color: $color-white;
          letter-spacing: 0.25px;
        }
      }

      &__label {
        @include font('Gotham-Narrow-Book', 0.875rem);

        color: $color-white;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border: 1px solid $color-white;
          background: rgba(255, 255, 255, 0);
          transition: background 0.3s;
          margin-right: 1rem;
        }
      }

      &__input {
        &:checked ~ {
          .radio-group__label {
            &::before {
              background: rgba(255, 255, 255, 1);
              transition: background 0.3s;
            }
          }
        }
      }
    }

    &__btn {
      width: 100%;
      max-width: 215px;
      margin: 0 auto;
      padding: 0.2rem 1.75rem;
    }
  }
}
