.header-wrap {
  background: url('../../assets/images/header-background.png') no-repeat top;
  background-size: cover;
  padding-top: 4.2rem;
  padding-bottom: 3.4rem;
}

.header {
  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.2rem;

    img {
      max-width: 210px;
    }
  }

  &__title {
    max-width: 690px;
    margin: 0 auto;
    text-align: center;

    h1 {
      @include font('Montserrat-BlackItalic', 3.6rem);

      color: $color-white;
      line-height: 1.26;

      @media screen and (max-width: 768px) {
        font-size: 2.6rem;
      }
      @media screen and (max-width: 520px) {
        font-size: 1.59rem;
      }
    }
  }

  &__sub-title {
    h2 {
      @include font('MrEavesModOT-RegItalic', 1.5rem);

      color: $color-white;
      max-width: 620px;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 520px) {
        font-size: 1rem;
      }
    }

    span {
      @include font('MrEavesModOT-HeavyItalic', inherit);
    }
  }
}
