.header-wrap#header
    .container
        header.header
            .header__logo
                img.img-fluid(src='../../assets/images/logo-white.png')
            .header__title
                h1.text-uppercase.text-center Vos idées, projets & développements en toute sérénité
            .header__sub-title
                h2.text-uppercase.text-center.
                    #[span covaloris]  vous propose un service #[span near-shore] pour vos développements web ou applicatifs #[span en toute sécurit]