.footer-wrap {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}

.footer {
  &__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid $color-blue-900;

    img {
      max-width: 140px;
    }
  }

  &__content {
    &__top {
      @include font('Montserrat-ExtraBoldItalic', 1rem);

      color: $color-blue-900;
    }

    &__bottom {
      @include font('Montserrat-Regular', 0.875rem);

      color: $color-blue-900;
    }
  }

  &__contacts {
    align-self: center;
    padding: 0.625rem 1.25rem;
    background: $color-blue-100;
    line-height: normal;
  }

  &__title {
    h6 {
      @include font('Montserrat-ExtraBoldItalic', 0.75rem);

      color: $color-white;
      margin-bottom: 0;
    }
  }

  &__number {
    a {
      @include font('Montserrat-Regular', 0.75rem);

      color: $color-white;
    }
  }

  &__email {
    a {
      @include font('Montserrat-Regular', 0.75rem);

      color: $color-white;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__logo {
      max-width: 15%;
      padding-right: 20px;
      padding-left: 20px;
    }

    &__content {
      max-width: 39%;
      padding-right: 20px;
      padding-left: 20px;
    }

    &__contacts {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    //padding-bottom: 0;

    .container {
      max-width: 100%;
    }
  }

  .footer {
    &__logo {
      justify-content: center;
      border-right: 0;
      margin-bottom: 1.5rem;
    }

    &__content {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    &__contacts {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;

      > div {
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .footer {
    &__contacts {
      > div {
        width: 50%;
        margin-right: 0;
      }
    }

    &__number {
      order: 1;
    }
  }
}
