.footer-wrap
    .container
        footer.footer
            .row.justify-content-center
                .footer__logo.col-xl-2.col-md-3
                    img.img-fluid(src='../../assets/images/logo-color.png')
                .footer__content.col-xl-5.col-md-6
                    .footer__content__top.text-uppercase Vos idées, projets & développements en toute sérénité
                    .footer__content__bottom COVALORIS vous propose un service near-shore pour vos développements web ou applicatifs en toute sécurité
                .footer__contacts.col-xl-2.col-md-3
                    .footer__title
                        h6.text-center.text-uppercase contactez-nous !
                    .footer__number.text-center
                        a(href='tel:+330632907377') +33(0) 6 32 90 73 77
                    .footer__number.text-center
                        a(href='tel:+330173435114') +33(0) 1 73 43 51 14
                    .footer__email.text-center
                        a(href='mailto:info@covaloris.com') info@covaloris.com
