.lang {
  position: absolute;
  top: 0;
  right: 0;
  background: $color-blue-900;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__btn {
    padding: 1.4rem 1.2rem 0.8rem;
  }

  &__ico {
    img {
      max-width: 34px;
    }
  }

  &__name {
    @include font('Montserrat-ExtraBoldItalic', 1.25rem);

    color: $color-white;
  }

  .dropdown-menu {
    min-width: 0;
    width: 72px;
  }

  &__list {
    width: 100%;
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    display: none;

    a {
      @include font('Montserrat-ExtraBoldItalic', 1.25rem);

      width: 100%;
      display: block;
      text-align: center;
      color: $color-white;

      &:hover {
        text-decoration: none;
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      background: $color-white;
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        width: 100%;
        transition: all 0.3s;
      }
    }
  }
}
