.lang
    .lang__btn#langMenuButton
        .lang__ico
            img.img-fluid(src='../../assets/images/icons/language.png')
        .lang__name.text-center.text-uppercase FR
    ul.lang__list#lang-list.list-unstyled
        li.lang__item
            a(href='#') Ru
        li.lang__item
            a(href='#') En
        li.lang__item
            a(href='#') Fr




