meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description" content="")

link(rel="stylesheet" href="./css/libs/bootstrap.css")
link(rel="stylesheet" href="./css/main.css")