doctype html
html(lang="en")
    include assets/head
        title= 'Covaloris'
    body
        div.wrapper
            include components/header/index
            include components/adn/index
            include components/offres/index
            include components/technologies/index
            include components/clients/index
            include components/contact/index
            include components/footer/index

        include components/menu/index
        include components/lang/index

        include assets/scripts