@mixin burger-line {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 0.3s, top 0.3s;
}

.menu-btn {
  width: 99px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-blue-900;
  position: absolute;
  top: 0;
  right: -99px;

  @media screen and (max-width: 576px) {
    width: 70px;
    height: 70px;
    right: -70px;
  }

  &__lines {
    width: 46px;
    height: 5px;
    background: $color-white;
    position: relative;
    transition: background 0.2s;

    @media screen and (max-width: 576px) {
      width: 35px;
      height: 4px;
    }

    &::after {
      @include burger-line;

      top: 14px;
    }

    &::before {
      @include burger-line;

      top: -14px;
    }
  }

  &.open {
    .menu-btn__lines {
      background: rgba(255, 255, 255, 0);

      &::after {
        top: 0;
        transform: rotate(45deg * 3);
      }

      &::before {
        top: 0;
        transform: rotate(45deg * 5);
      }
    }
  }
}
