.offres-wrap {
  background: $color-blue-900;
  padding-top: 3.1rem;
  padding-bottom: 3.1rem;
}

.offres {
  &__title {
    margin-bottom: 3.15rem;

    h1 {
      color: $color-white;
    }
  }

  .offres-list {
    @media screen and (min-width: 992px) {
      padding: 0 4.1rem;
      margin-bottom: 1.8rem;
    }

    &__item {
      margin-bottom: 1.9rem;
    }

    &__img {
      height: 10rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__body {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      background: $color-white;
      padding: 1.7rem 1.6rem 1.3rem;
      height: calc(100% - 10rem);
    }

    &__title {
      padding: 0 1.9rem;
      margin-bottom: 0.3rem;

      h4 {
        @include font('Montserrat-BlackItalic', 1.7rem);

        color: $color-blue-100;
        letter-spacing: 2px;
        line-height: 25px;
      }
    }

    &__text {
      @include font('Roboto-Regular', 0.9rem);

      color: $color-blue-900;
      letter-spacing: -0.1px;
      line-height: 16px;
      margin-bottom: 0.8rem;
      width: 100%;
    }

    &__btn {
      padding: 0.25rem 2rem;
      height: 33px;
    }
  }

  &__btn {
    @include font('Montserrat-LightItalic', 0.875rem);

    margin: 0 auto;
    max-width: 610px;
    padding: 0.37rem 1.8rem;
    font-weight: normal;
    white-space: normal;
  }
}
