-
    const offresListItems = [
    {
    title: 'start pack',
    text : 'Vous êtes une start up ou un service d’entreprise',
    img: '../../assets/images/offres/offres-1.png'
    }, {
    title: 'premium pack',
    text : "pour vos besoins pointus en développement",
    img: '../../assets/images/offres/offres-2.png'
    }, {
    title: 'staff pack',
    text : "une équipe clé en main adaptée à vos besoins et à la réalisation de vos projets",
    img: '../../assets/images/offres/offres-3.png'
    }]
-   const offresTitle = 'Nos Offres'

.offres-wrap#offres
    .container
        .offres
            .content-title.offres__title
                h1.text-uppercase.text-center !{offresTitle}
            ul.offres-list.row.list-unstyled
                each val in offresListItems
                    li.offres-list__item.flex-fill.col.col-md-4.col-sm-6
                        .offres-list__img
                            img.img-fluid(src= val.img)
                        .offres-list__body
                            .offres-list__title
                                h4.text-uppercase.text-center= val.title
                            .offres-list__text.text-center !{val.text}
                            .offres-list__btn.btn.border-w2.border-blue-100.color-blue-100.background-hover-blue-100.color-hover-white j’en profite
            .offres__btn.btn.border-w4.border-white.color-white.background-blue-900.background-hover-white.color-hover-blue-900 vous souhaitez recevoir une offre personnalisée à votre projet