.adn-wrap {
  padding-top: 3.15rem;
  padding-bottom: 1.2rem;
}

.adn {
  &__title {
    margin-bottom: 0.9rem;
  }

  &__sub-title {
    max-width: 595px;
    margin: 0 auto 1rem auto;

    h6 {
      @include font('Roboto-Italic', 0.94rem);

      letter-spacing: 0.3px;
      line-height: 1.35;
    }

    span {
      @include font('Roboto-BlackItalic', inherit);

      display: block;
      width: 100%;
      letter-spacing: normal;
    }
  }

  .adn-list {
    &__item {
      margin-bottom: 1.85rem;

      @media screen and (min-width: 992px) {
        width: calc(100% / 5);
        margin-bottom: 0;
      }
    }

    &__img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      min-height: 90px;
      margin-bottom: 0.95rem;
      padding: 0 3.25rem;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 56px;
      padding: 0 5px;

      h5 {
        @include font('Montserrat-BlackItalic', 1.15rem);

        color: $color-blue-100;
      }
    }

    &__text {
      @include font('Roboto-Regular', 0.89rem);

      color: $color-blue-900;
      line-height: 17.9px;

      span {
        @include font('Roboto-Black', inherit);
      }
    }
  }
}
