-
    const adnListItems = [
    {
    title: 'nos équipes',
    text : 'Une équipe maitrisant toutes les <span> dernières technologies  dédiée à votre projet</span>',
    img: '../../assets/images/icons/team.png'
    }, {
    title: 'adaptabilité',
    text : "la possibilité de la faire <span> évoluer, modifier ou remplacer</span> au fil du temps de la réalisation",
    img: '../../assets/images/icons/reglages.png'
    }, {
    title: 'en contact permanent',
    text : "Un accompagnement <span> francophone</span> et un <span> contact direct</span> avec équipes basées à Minsk.",
    img: '../../assets/images/icons/francophone.png'
    }, {
    title: 'optimisation des coûts',
    text : "Une <span> optimisation</span> au niveau de vos <span> coûts</span> de développements",
    img: '../../assets/images/icons/optimisation.png'
    }, {
    title: 'engagement',
    text : "Un engagement <span> simple et flexible</span> avec covaloris selon la durée de vos projets",
    img: '../../assets/images/icons/flexibility.png'
    }]
-   const adnTitle = 'NOTRE ADN'
-   const adnSubTitle = 'Covaloris  vous propose un service near-shore pour <br/> vos développements web ou applicatifs en toute sécurité <span> gagnez du temps et de l’argent grâce à :</span>'

.adn-wrap#adn
    .container
        .adn
            .content-title.adn__title
                h1.text-uppercase.text-center !{adnTitle}

            .adn__sub-title
                h6.text-uppercase.text-center !{adnSubTitle}

            ul.adn-list.row.list-unstyled
                each val in adnListItems
                    li.adn-list__item.flex-fill.col.col-md-4.col-sm-6
                        .adn-list__img
                            img.img-fluid(src= val.img)
                        .adn-list__title
                            h5.text-uppercase.text-center= val.title
                        .adn-list__text.text-center !{val.text}


